{% extends "base.twig" %}

{% block body %}
    <nav x-data="navigation">
        {{ fn(
            'wp_nav_menu', [
                {
                    'theme_location': 'primary-navigation',
                    'container': 'ul',
                    'menu_class': 'flex items-center'
                }
            ]
        ) }}
    </nav>

    <main>
        <header class="my-3">
            <h1 class="text-2xl">
                {{ title }}
            </h1>
        </header>

        <div>
            <section>

            </section>
        </div>

        <aside>

        </aside>
    </main>
{% endblock %}